<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <!-- 导入映射表 -->
  <!-- // vue->需要使用ES模块构建版本 -->
  <script type="importmap">
    {
      "imports": {
        "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
      }
    }
  </script>

  <div id="app"></div>

  <!-- 无构建步骤的vue应用 -->

  <!-- ES模块语法，现代浏览器已大部分都原生支持ES模块了 -->
  <!-- 通过CDN使用vue,不涉及'构建步骤',无法使用单文件组件(SFC)语法 -->

  <!-- 由于安全原因,ES模块只能通过http协议工作,不能通过file://协议工作 -->
  <script type="module">
    // import { createApp, ref } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js'
    import { createApp, ref } from "vue"
    import Comp from './comp.js'

    createApp(Comp).mount('#app')

    // const app = createApp({
    //   setup() {
    //     const message = ref('hihi~')

    //     return {
    //       message
    //     }
    //   }
    // })

    // console.log(11, app)
    // app.mount('#app')
  </script>
</body>

</html>